<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-rocket-chat" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>cordova-plugin-rocket-chat</name>
    <author>Rodrigo K. Nascimento (support@rocket.chat)</author>
    <description>
      Cordova Plugin to configure RocketChat.
    </description>
    <keywords>cordova, ios, app, queries, url, schemes, lsapplicationqueriesschemes</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
        <array>
          <string>fbauth</string>
        </array>
      </config-file>
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
        <dict>
          <key>NSAllowsArbitraryLoads</key>
          <true/>
        </dict>
      </config-file>
    </platform>
</plugin>
